name: "EKS-Creation-Using-Terraform"

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Environment Workspace"
        options:
          - dev
          - stage
          - prod
        required: true
        default: "dev"

      action:
        type: choice
        description: "Terraform Action"
        options:
          - plan
          - apply
          - destroy
        required: true
        default: "apply"

env:
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    name: Terraform ${{ github.event.inputs.action }} (${{ github.event.inputs.environment }})

    defaults:
      run:
        working-directory: vpc-ec2
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - name: Setup Terraform
      #   uses: hashicorp/setup-terraform@v3
      #   with:
      #     terraform_version: 1.9.3

      - name: Terraform Init
        run: terraform init

      - name: Select/Create Workspace
        run: |
          ENV="${{ github.event.inputs.environment }}"
          terraform workspace list
          if terraform workspace select "$ENV"; then
            echo "Workspace $ENV selected."
          else
            echo "Creating workspace $ENV..."
            terraform workspace new "$ENV"
          fi

      - name: Validate
        run: terraform validate

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan -var-file="../${{ github.event.inputs.environment }}/${{ github.event.inputs.environment }}.tfvars"

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve -var-file="../${{ github.event.inputs.environment }}/${{ github.event.inputs.environment }}.tfvars"

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve -var-file="../${{ github.event.inputs.environment }}/${{ github.event.inputs.environment }}.tfvars"
